.container {
    border: 1px solid black;
    padding: 50px;
    border-radius: 3px;
    margin-bottom: 20px;
    max-width: 400px;
    width: max-content;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.button {
    padding: 6px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;

    &:hover {
        background-color: #0056b3;
    }

    &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
    }
   
}